/* CSS declarations go here */

body {
		font-family: 'Roboto';
    margin: 0
}

.story-editor {
	font-family: 'Roboto';
	min-height: '100px';
}

.public-DraftEditor-content {
	min-height: '110px'
}

.DraftEditor-editorContainer {
	min-height: 110px
}

.DraftEditor-root {
	min-height: 110px
}
